.about-heading h1{
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    font-weight: 900;
}

.about-heading h2{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.about-info span{
    color: #999999!important;
}

.profil{
    border-radius: 50%;
}

.aboutBtn{
    background: #ffbd39;
    border: 1px solid #ffbd39;
    color: #000000;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all .2s;
}

.aboutBtn:hover{
    opacity: .7;
}

@media only screen and (max-width: 767px){
    .about-heading h1{
        display: none;
    }
}
